<a href="https://colab.research.google.com/github/kunjkinger/machine-learning-projects/blob/nlp/sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [5]:
sid  = SentimentIntensityAnalyzer()

In [6]:
a = "This is a good movie."

In [7]:
sid.polarity_scores(a)

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.508, 'pos': 0.492}

In [8]:
a = "This was the best, most awesome movie EVER MADE!!!"

In [9]:
sid.polarity_scores(a)

{'compound': 0.8877, 'neg': 0.0, 'neu': 0.425, 'pos': 0.575}

In [10]:
a = " This was the WORST movie that has ever disgraced the scree."

In [11]:
sid.polarity_scores(a)

{'compound': -0.8331, 'neg': 0.465, 'neu': 0.535, 'pos': 0.0}

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('amazonreviews.tsv',sep='\t')

In [14]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [15]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [16]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [17]:
df.dropna(inplace=True)

In [21]:
blanks = []
for i,lb,rv in df.itertuples():
  #index,label,review
  if type(rv)==str:
    if rv.isspace():
      blanks.append(i)

In [22]:
blanks

[]

In [23]:
sid.polarity_scores(df.iloc[0]['review'])

{'compound': 0.9454, 'neg': 0.088, 'neu': 0.669, 'pos': 0.243}

In [24]:
df.iloc[0]['review']

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [25]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [28]:
df.head()

  label  ...                                             scores
0   pos  ...  {'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...
1   pos  ...  {'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...
2   pos  ...  {'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...
3   pos  ...  {'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...
4   pos  ...  {'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...

[5 rows x 3 columns]

In [29]:
df['compound'] = df['scores'].apply(lambda d: d['compound'])

In [30]:
df.head()

  label  ... compound
0   pos  ...   0.9454
1   pos  ...   0.8957
2   pos  ...   0.9858
3   pos  ...   0.9814
4   pos  ...   0.9781

[5 rows x 4 columns]

In [34]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [35]:
df.head()

  label                                             review  ... compound  comp_score
0   pos  Stuning even for the non-gamer: This sound tra...  ...   0.9454         pos
1   pos  The best soundtrack ever to anything.: I'm rea...  ...   0.8957         pos
2   pos  Amazing!: This soundtrack is my favorite music...  ...   0.9858         pos
3   pos  Excellent Soundtrack: I truly like this soundt...  ...   0.9814         pos
4   pos  Remember, Pull Your Jaw Off The Floor After He...  ...   0.9781         pos

[5 rows x 5 columns]

In [36]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [37]:
print(accuracy_score(df['label'],df['comp_score']))

0.7091

In [39]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [40]:
print(confusion_matrix(df['label'],df['comp_score']))

[[2623 2474]
 [ 435 4468]]